<tr>
	<td bgcolor="#e4e4e4" style="padding: 20px 40px; font-size: 12px; color: #666; line-height: 1.5;">
		<strong>AVISO DE CONFIDENCIALIDAD:</strong> La información de este correo electrónico y archivos adjuntos son propiedad de Bitácora-e y orientada únicamente para el uso de los destinatarios. La información de este correo electrónico puede ser confidencial o privilegiada y no debe ser comunicada a terceros sin el consentimiento del remitente. La retención, grabación, utilización y/o divulgación con cualquier propósito está estrictamente prohibida. Si bien se han hecho todos los esfuerzos para asegurar que este correo electrónico está libre de virus, Bitácora-e no se hace responsable por pérdidas o daños derivados de la utilización de este correo electrónico o archivo adjunto. Si ha recibido este mensaje por error, por favor notifique a Bitácora-e y elimínelo de su bandeja de entrada.
		<br /><br />
		<strong>CONFIDENTIALITY NOTICE:</strong> This e-mail message and the attached electronic files are owned by Bitácora-e and being orientated only of use for audiences targeted. The content of e-mails maybe confidential and /or privileged material and must not be communicated with third parties without consent of the sender. Withholding, recording or usage and or disclosing with any purpose, is strictly prohibited. Although efforts have been made for ensuring that this email is virus-free. Bitácora-e is not responsible for loss or damages resulting from the use of this email or attached electronic files. If you receive this message by mistake, please notify it to Bitácora-e and to remove it from your inbox.
	</td>
</tr>

<tr>
	<td align="center" bgcolor="#007BDB" style="padding: 10px; color: white; font-size: 14px;">
		&copy; {{year}} Bitácora-e, Todos los derechos reservados.
	</td>
</tr>
