<head>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Montserrat', sans-serif;">
	<h1>¡Hola, {{name}}!</h1>
	<p>Gracias por registrarte.</p>
</body>
